<div class="profile-foreground position-relative mx-n4 mt-n4">
  <div class="profile-wid-bg">
    <img src="assets/images/profile-bg.jpg" alt="" class="profile-wid-img" />
  </div>
</div>
<div class="pt-4 mb-4 mb-lg-3 pb-lg-4 profile-wrapper">
  <div class="row g-4">
    <div class="col-auto">
      <div class="avatar-lg">
        <img
          src="assets/images/profile.jpg"
          alt="user-img"
          class="img-thumbnail rounded-circle"
        />
      </div>
    </div>
    <!--end col-->
    <div class="col">
      <div class="p-2">
        <h3 class="text-white mb-1">Achmad Aly Abdulloh</h3>
        <div class="hstack text-white-50 gap-1">
          <div class="me-2">
            <i
              class="ri-map-pin-user-line me-1 text-white-75 fs-16 align-middle"
            ></i
            >Mojokerto, Indonesia
          </div>
        </div>
      </div>
    </div>
    <!--end col-->
    <!--end col-->
  </div>
  <!--end row-->
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-3">About</h5>
        <p class="text-muted mb-4">
          Saya adalah lulusan Politeknik Negeri Malang jurusan Teknik
          Informatika dengan IPK (3,78). Saya memiliki pemahaman pengembangan
          web menggunakan Angular, Node.js, dan MySQL. Berpengalaman magang
          sebagai Fullstack Developer, mengerjakan fitur monitoring dan
          visualisasi data, integrasi API, dan pengelolaan database. Saya yakin
          dapat membantu perusahaan mencapai tujuan karena saya cepat
          beradaptasi dan bisa bekerja secara individu maupun tim.
        </p>
        <div class="table-responsive">
          <table class="table table-borderless mb-0">
            <tbody>
              <tr>
                <th class="ps-0" scope="row">Nama :</th>
                <td class="text-muted">Achmad Aly Abdulloh</td>
              </tr>
              <tr>
                <th class="ps-0" scope="row">NIM :</th>
                <td class="text-muted">2141720039</td>
              </tr>
              <tr>
                <th class="ps-0" scope="row">Tanggal Pembuatan :</th>
                <td class="text-muted">07 September - 11 September 2025</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end row-->
